{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- start section portfolio -->
<div id="portfolio" class="text-center paddsection">

    <div class="container">
      <div class="row">
             {% for project in projects %}
          <div class="col-md-10">
               <h3 class="text-left">{{project.title}}</h3>
                <p class="text-left">{{ project.comment }}</p>
            <hr>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
   </div>

  </div>
  <!-- End section portfolio -->

  {% endblock content %}
