{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<!-- start section portfolio -->
<div id="portfolio" class="text-center paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Portfolio</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

           <div class="portfolio-container">
            {% for projo in projects %}
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits webdesign">
                <a class="popup-img" href="images/portfolio/1.jpg">
                {% comment %} fix images error {% endcomment %}
                <img src="{{projo.image.url}}">
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End section portfolio -->

  {% endblock content %}
