{% load static %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link type='text/css' href="{% static "/css/style.css" %}" rel="stylesheet">

        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
   </head>
    <body>
        <div id="content">
        {% include 'navbar.html' %}

        {% block content %}

        {% endblock %}
        {% include 'footer.html' %}
        </div>
        <script src="{% static '/js/app.js' %}"></script> 

    </body>
</html>
