{% load static %}

<nav id='navbar' class="navbar sticky-top navbar-expand-lg navbar-light" style="background: #e9e8e6;
box-shadow: 0px 0px 25px 0 rgb(0 0 0 / 8%);
z-index: 997;
">
<h1 id='logo'>
    <a href="#">OG</a>
</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'info:about'%}">About</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="{% url 'info:resume'%}">Resume</a>
        </li> 
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'info:portfolio'%}">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'info:contact'%}">Contact</a>
        </li>
      </ul>
      <div class="icons">
        <p class='p'>
          GET IN TOUCH
        </p>
        <ul>
            <li><a href="{% url 'info:contact'%}" ><img src="{% static 'img/email.png'%}" alt="you"></a></li>
            <li><a href="#" target="_blank"><img src="{% static 'img/github.png'%}" alt=""></a></li>
            <li><a href="#" target="_blank"><img src="{% static 'img/twitter_transparent.png' %}" alt=""></a></li>
            <li><a href="#" target="_blank"><img src="{% static 'img/instagram.png'%}" alt=""></a></li>
        </ul>
    </div>
    </div>
  </nav>